<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="colorManager" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
	
  <log4net>
    <appender name="Log4NetAppender" type="SparkPOS.Repository.Service.Log4NetAppender, SparkPOS.Repository.Service" />
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Log4NetAppender" />
    </root>
  </log4net>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5432" />
    <!-- name database -->
    <add key="dbName" value="sparkposdb" />
    
    <!-- setting barcode -->
    <add key="printerBarcode" value="" />
    <add key="headerLabel" value="" />
    <add key="batasAtasRow1" value="43" />
    <add key="batasAtasRow2" value="187" />
    <add key="batasAtasRow3" value="344" />
    <add key="batasAtasRow4" value="496" />
    <add key="batasKiriColumn1" value="11" />
    <add key="batasKiriColumn2" value="277" />
    <add key="batasKiriColumn3" value="540" />

    <!-- setting label price -->
    <add key="printerLabelPrice" value="" />
    <add key="fontName" value="Courier New" />
    <add key="batasAtasRow1LabelPrice" value="43" />
    <add key="batasAtasRow2LabelPrice" value="187" />
    <add key="batasAtasRow3LabelPrice" value="344" />
    <add key="batasAtasRow4LabelPrice" value="496" />
    <add key="batasAtasRow5LabelPrice" value="650" />
    <add key="batasAtasRow6LabelPrice" value="805" />
    <add key="batasAtasRow7LabelPrice" value="960" />
    <add key="batasAtasRow8LabelPrice" value="1115" />

    <add key="batasKiriColumn1LabelPrice" value="30" />
    <add key="batasKiriColumn2LabelPrice" value="225" />
    <add key="batasKiriColumn3LabelPrice" value="425" />
    <add key="batasKiriColumn4LabelPrice" value="625" />
    
    <!-- settings printer -->
    <add key="printerName" value="" />
    <add key="isAutoPrinter" value="false" />
    <add key="isAutoPrinterLabelInvoice" value="false" />
    <add key="type_printer" value="1" />
    
    <!-- settings printer mini pos-->
    <add key="isPrintCustomer" value="false" />
    <add key="jumlahKarakter" value="40" />
    <add key="jumlahGulung" value="3" />
    <add key="FontSize" value="0" />
    <add key="isAutocut" value="false" />
    <add key="autocutCode" value="27,112,0,75,250" />
    <add key="isOpenCashDrawer" value="false" />
    <add key="openCashDrawerCode" value="27,112,0,25,250" />
    
    <!-- settings customer display -->
    <add key="portNumber" value="COM1" />
    <add key="baudRate" value="9600" />
    <add key="parity" value="1" />
    <add key="dataBits" value="8" />
    <add key="stopBits" value="1" />
    <add key="isActiveCustomerDisplay" value="false" />
    <add key="customerDisplayOpeningSentenceLine1" value="Thank you for being here" />
    <add key="customerDisplayOpeningSentenceLine2" value="KR Software" />
    <add key="customerDisplayClosingSentenceLine1" value="Thank you" />
    <add key="customerDisplayClosingSentenceLine2" value="Welcome back    " />
    <add key="customerDisplayDelayDisplayClosingSentence" value="5" />
    
    <!-- settings pageSize (quantity record per halaman) -->
    <add key="pageSize" value="200" />
    
    <!-- settings other -->
    <add key="isShowMinimalStock" value="true" />
    <add key="isCustomerRequired" value="true" />
    <add key="isPrintKeteranganInvoice" value="true" />
    <add key="isSingkatPenulisanOngkir" value="false" />
    <add key="defaultPPN" value="0" />
  </appSettings>
  
  <colorManager>
    <add key="formBackColor" value="255, 255, 255" />
    <add key="panelHeaderBackColor" value="31, 86, 125" />
    <add key="panelFooterBackColor" value="31, 86, 125" />
    <add key="labelHeaderForeColor" value="255, 255, 255" />
    <add key="textFocusColor" value="255, 255, 192" />
  </colorManager>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Translate.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.875" newVersion="1.61.0.875" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
