<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="colorManager" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <log4net>
    <appender name="Log4NetAppender" type="SparkPOS.Repository.Service.Log4NetAppender, SparkPOS.Repository.Service"/>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Log4NetAppender"/>
    </root>
  </log4net>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="server" value="localhost"/>
    <add key="port" value="5432"/>

    <!-- name database -->
    <add key="dbName" value="sparkposdb"/>

    <!-- settings printer -->
    <add key="printerName" value=""/>
    <add key="isAutoPrinter" value="false"/>

    <!-- default type perinter mini pos -->
    <add key="type_printer" value="3"/>

    <!-- settings printer mini pos -->
    <add key="isPrintCustomer" value="false"/>
    <add key="jumlahKarakter" value="40"/>       
    <add key="jumlahGulung" value="3"/>
    <add key="FontSize" value="0"/>

    <add key="isAutocut" value="false"/>
    <add key="autocutCode" value="27,112,0,75,250"/>

    <add key="isOpenCashDrawer" value="false"/>
    <add key="openCashDrawerCode" value="27,112,0,25,250"/>

    <!-- settings customer display -->    
    <add key="portNumber" value="COM1"/>
    <add key="baudRate" value="9600"/>
    <add key="parity" value="1"/>
    <add key="dataBits" value="8"/>
    <add key="stopBits" value="1"/>

    <add key="isActiveCustomerDisplay" value="false"/>
    <add key="customerDisplayOpeningSentenceLine1" value="Thank you for being here"/>
    <add key="customerDisplayOpeningSentenceLine2" value="KR Software"/>
    <add key="customerDisplayClosingSentenceLine1" value="Thank you"/>
    <add key="customerDisplayClosingSentenceLine2" value="Welcome back"/>
    <add key="customerDisplayDelayDisplayClosingSentence" value="5"/>

    <add key="defaultPPN" value="0"/>

    <!-- settings lebar column tabel form transactions -->
    <add key="lebarColumnNo" value="30"/>
    <add key="lebarColumnCodeProduct" value="190"/>
    <add key="lebarColumnNameProduct" value="720"/>
    <add key="lebarColumnKeterangan" value="200"/>
    <add key="lebarColumnJumlah" value="75"/>
    <add key="lebarColumnDiskon" value="75"/>
    <add key="lebarColumnPrice" value="120"/>
    
  </appSettings>

  <colorManager>
    <add key="formBackColor" value="255, 255, 255"/>
    <add key="panelHeaderBackColor" value="31, 86, 125"/>
    <add key="panelFooterBackColor" value="31, 86, 125"/>
    <add key="labelHeaderForeColor" value="255, 255, 255"/>
    <add key="textFocusColor" value="255, 255, 192"/>
  </colorManager>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Translate.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.875" newVersion="1.61.0.875"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
